name: goreleaser

on:
  pull_request:
  push:

permissions:
  contents: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    env:
      GORELEASER_CROSS_VERSION: v1.25.7
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build snapshot
        if: github.ref == 'refs/heads/main' || github.event_name == 'pull_request'
        run: |
          docker run \
            --rm \
            -v $(pwd):/go/src/github.com/${{ github.repository }} \
            -w /go/src/github.com/${{ github.repository }} \
            ghcr.io/goreleaser/goreleaser-cross:${{ env.GORELEASER_CROSS_VERSION }} \
            build --clean --snapshot

      - name: Release
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          docker run \
            --rm \
            -e GITHUB_TOKEN \
            -e HOMEBREW_TAP_GITHUB_TOKEN \
            -e MACOS_SIGN_P12 \
            -e MACOS_SIGN_PASSWORD \
            -e MACOS_NOTARY_KEY \
            -e MACOS_NOTARY_KEY_ID \
            -e MACOS_NOTARY_ISSUER_ID \
            -v $(pwd):/go/src/github.com/${{ github.repository }} \
            -w /go/src/github.com/${{ github.repository }} \
            ghcr.io/goreleaser/goreleaser-cross:${{ env.GORELEASER_CROSS_VERSION }} \
            release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HOMEBREW_TAP_GITHUB_TOKEN: ${{ secrets.HOMEBREW_TAP_GITHUB_TOKEN }}
          MACOS_SIGN_P12: ${{ secrets.MACOS_SIGN_P12 }}
          MACOS_SIGN_PASSWORD: ${{ secrets.MACOS_SIGN_PASSWORD }}
          MACOS_NOTARY_KEY: ${{ secrets.MACOS_NOTARY_KEY }}
          MACOS_NOTARY_KEY_ID: ${{ secrets.MACOS_NOTARY_KEY_ID }}
          MACOS_NOTARY_ISSUER_ID: ${{ secrets.MACOS_NOTARY_ISSUER_ID }}
